<template>
    <Page>
        <ActionBar>
            <Label text="Home"/>
        </ActionBar>

        <StackLayout>
            <Button text="WorkerIssue" @tap="goToWorkerIssue"/>
            <Button text="UILabelIssue" @tap="goToUILabelIssue"/>
        </StackLayout>
    </Page>
</template>

<script>
import WorkerIssue from "~/components/WorkerIssue.vue";
import UILabelIssue from "~/components/UILabelIssue.vue";

export default {
    methods: {
        goToWorkerIssue() {
            this.$navigateTo(WorkerIssue)
        },
        goToUILabelIssue() {
            this.$navigateTo(UILabelIssue)
        }
    },
    computed: {
        message() {
        return "Blank {N}-Vue app";
        }
    }
}
</script>

<style scoped lang="scss">

</style>
