<template>
  <Page>
    <StackLayout paddingLeft="20" paddingRight="20" paddingTop="30">
        <HTMLLabel textWrap="true" text="In order to trigger the bug the fontSize property needs to be added to the HTMLLabel, see the commented part"/>
        <!--
        <HTMLLabel
                lineBreak="end"
                textWrap="true"
                :html="adjustedValue"
                fontFamily="Heebo"
                @linkTap="linkTapped"/>
        -->

        <HTMLLabel
                lineBreak="end"
                textWrap="true"
                :html="adjustedValue"
                :fontSize="15"
                fontFamily="Heebo"
                @linkTap="linkTapped"/>
    </StackLayout>
  </Page>
</template>

<script>
import {isAndroid} from "@nativescript/core";

export default {
    name: "UILabelIssue",
    data() {
        return {
            html: "<p>Als Kreisgalerie bietet es heute einen würdigen Rahmen für wechselnde Kunst Ausstellungen und kulturelle Veranstaltungen, hauptsächlich musikalischer Natur. Werfen Sie einen Blick in den <a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://mellrichstadt.offizium.eu/veranstaltungen\">Veranstaltungskalender</a><br><br>In Ihr befindet sich außerdem Cafe, das museumscafe</p><p>Das <strong>Museumscafé</strong> lädt mit seinem besonderen Ambiente und hausgemachten Kuchen zum Genießen und Verweilen ein. Auch <strong>Lesungen</strong>, wie z. B. die Veranstaltungen der Reihe „Mellrichstadt liest“, und kleine Konzerte finden hier statt. Der <strong>idyllische Garten</strong> bietet dem Besucher eine Oase, in der er die Seele baumeln lassen kann.</p><p><strong>Öffnungszeiten:</strong><br><strong>Mittwoch bis Sonntag und Feiertags:</strong><br><strong>von 13.00 - 17.00 Uhr</strong></p><p>&nbsp;</p><p><a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://mellrichstadt.offizium.eu/kultur-freizeit/museen\">mehr Infos zu unseren Museen</a></p>"

        }
    },
    methods: {
        linkTapped() {
            alert('link tapped')
        }
    },
    computed: {
        adjustedValue() {
            if(this.html && isAndroid) {
                let value = this.html
                value = value.split('&nbsp;').join('\u00A0')
                value = value.replaceAll('&', '&amp;')
                return value
            }
            if(this.html && !isAndroid) {
                let value = this.html
                value = value.replaceAll('</p>', '</p><br>')
                return value
            }
        }
    },
}
</script>

<style scoped>

</style>
