<template>
  <Page>
      <StackLayout>
          <Button text="triggerSampleWorker1" @tap="triggerSampleWorker1"/>
          <Button text="triggerSampleWorker2" @tap="triggerSampleWorker2"/>
          <Button text="triggerSampleWorker3" @tap="triggerSampleWorker3"/>
      </StackLayout>
  </Page>
</template>

<script>
let sampleWorker1
let sampleWorker2
let sampleWorker3
export default {
    name: "WorkerIssue",
    mounted() {
      sampleWorker1 = new Worker('~/workers/sample1.worker.js')
      sampleWorker2 = new Worker('~/workers/sample2.worker.js')
      sampleWorker3 = new Worker('~/workers/sample3.worker.js')

      sampleWorker1.onmessage = (msg) => {
          console.log(msg.data)
      }
      sampleWorker2.onmessage = (msg) => {
          console.log(msg.data)
      }
      sampleWorker3.onmessage = (msg) => {
          console.log(msg.data)
      }
    },
    methods: {
        triggerSampleWorker1() {
          sampleWorker1.postMessage('Worker 1 sent')
        },
        triggerSampleWorker2() {
          sampleWorker2.postMessage('Worker 2 sent')
        },
        triggerSampleWorker3() {
          sampleWorker3.postMessage('Worker 3 sent')
        }
    }
}
</script>

<style scoped>

</style>
